/***
**
*	Custom CSS
**	
***/

body, section {			/* Change width and height to own preferences */
	width: 300px;
	height: 400px;
	overflow-x: hidden;
}

/* Basic style tweaks */
section { padding: 5px;}
.navbar { margin-bottom: 2px; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }

h1 {
  font-size: 24px;
  margin-top: 5px;
}

#handles {
  list-style: none;
  padding-left: 10px;
}
#handles li {
  position: relative;
}
#handles li button.close {
  display: inline-block;
  float: none;
  left: 127px;
  position: absolute;
  top: -2px
}
#new-row {
  top: 10px;
}